<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>

  <div id="root">

    <header>
      <!--logo-->
      <div class="logo"> Boolfix </div>
      <!--logo-->

      <!--filter-->
      <div>
        <input v-model="userInput" @keyup.enter="search()" type="text">
        <button @click="search()">Search</button>
      </div>
      <!--filter-->

    </header>

    <main>

        <!--film title-->
        <div v-if="filmsArray.length > 0" class="title_section">Film</div>
        <!--film title-->
          
        <!--film section-->
        <div class="container">
          <div v-for="film in filmsArray" class="films">  
          
            <!--copertina-->
            <div>
              <img class="copertina" :src="`${getCover(film.poster_path)}`" alt="test">
            </div>
            <!--copertina-->

            <!--details-->
            <div class="details">
              <div class="title">Titolo: <span class="called-details">{{ film.title }}</span>  </div>
              <div class="original-title">Titolo originale: <span class="called-details">{{ film.original_title }}</span> </div>
              <div class="lang">Language: 
                <span class="called-details">
                  <img class="lang-img" :src="`${flagCheck(film.original_language)}`" alt="flag">
                </span> 
              </div>
              <div class="vote">vote: <span class="called-details">{{ film.vote_average }}</span> </div>
            </div>
            <!--details-->
            
          </div>   
        </div>
        <!--film section-->

        <!--series title-->
        <div v-if="seriesArray.length > 0" class="title_section">SERIES</div>
        <!--series title-->

        <!--series section-->
        <div class="container">
          <div v-for="series in seriesArray" class="films"> 

            <!--copertina-->
            <div>
              <img class="copertina" :src="`${getCover(series.poster_path)}`" alt="test">
            </div>
            <!--copertina-->

            <!--details-->
            <div class="details">
              <div class="title">Titolo: <span class="called-details">{{ series.name }}</span>  </div>
            <div class="original-title">Titolo originale: <span class="called-details">{{ series.original_name }}</span> </div>
            <div class="lang">Language: 
              <span class="called-details">
                <img class="lang-img" :src="`${flagCheck(series.original_language)}`" alt="flag">
              </span> 
            </div>
            <div class="vote">vote: <span class="called-details">{{ series.vote_average }}</span> </div>
          </div>
            </div>
          <!--details-->

        </div>
        <!--series section-->

    </main>
  </div>
  

  <script src="js/script.js"></script>
</body>
</html>