<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>

  <div id="root">

    <header>
      <div class="logo"> Boolfix </div>

      <!--filter-->
      <div>
        <input v-model="userInput" @keyup.enter="search()" type="text">
        <button @click="search()">Search</button>
      </div>
      <!--filter-->

    </header>

    <main>

      <div v-if="filmsArray.length > 0" class="test">Film</div>

      <div class="container">
        <!--film-->
        <div v-for="film in filmsArray" class="films">  
          <div class="title">Titolo: <span class="answers">{{ film.title }}</span>  </div>
          <div class="original-title">Titolo originale: <span class="answers">{{ film.original_title }}</span> </div>
          <div class="lang">Language: 
            <span class="answers">
              <img class="lang-img" :src="`${flagCheck(film.original_language)}`" alt="flag">
            </span> 
          </div>
          <div class="vote">vote: <span class="answers">{{ film.vote_average }}</span> </div>
        </div>
        <!--film-->
      </div>
        
      <div v-if="seriesArray.length > 0" class="test">SERIES</div>

      <div class="container">
           <!--series -->
         <div v-for="series in seriesArray" class="films">  
          <div class="title">Titolo: <span class="answers">{{ series.name }}</span>  </div>
          <div class="original-title">Titolo originale: <span class="answers">{{ series.original_name }}</span> </div>
          <div class="lang">Language: 
            <span class="answers">
              <img class="lang-img" :src="`${flagCheck(series.original_language)}`" alt="flag">
            </span> 
          </div>
          <div class="vote">vote: <span class="answers">{{ series.vote_average }}</span> </div>
        </div>
        <!--series -->
      </div>



    </main>

  </div>
  

  <script src="js/script.js"></script>
</body>
</html>